.experience-accord {
  max-width: 1160px;
  margin: 40px auto;
  padding: 0 30px;
}

.accord-panel {
  font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px auto;
    padding: 0 16px;
  }
}
